body{
	width:100%;
	font-family: 微軟正黑體;
	background-color:#B8E6E6;
}

aside, main{
	display:block;
}

a {
	text-decoration: none;
	color:#BACCCC;
}

td {
	height: 50px
}

.wrapper{
	width:1000px;
	margin: 0 auto;
}

.middle {
	width: 100%;
	position:relative;
}
.container {
	width:100%;
	float:left;
	overflow: hidden;
	//border: solid;
}
.content{
	padding: 0 0 0 270px;
	//border: solid;
	text-align: center;
}


.left-sidebar { 
	float: left;
	width: 250px;
	margin-left: -100%;
	position: relative;
	//border: solid;
}
